createdAt: "2018-12-13T13:24:58.941Z"
updatedAt: "2018-12-13T15:12:57.750Z"
type: "MARKDOWN_NOTE"
folder: "7cf5bf1951a47a87611d"
title: "Organisation Config File project"
content: '''
  # Organisation Config File project
  
  ### Two modes : 
  ## Editing config file template :
  
  ### - Creating a new field
  
  - Name field
  - Type choice (multiple boxes, only one choice possible)
    - Add parameters choices given the choice:
      - Bool : default value
      - Int : Range, default value
      - Float : Range, default value
      - Dict : 
        - Give all possible options (series of boolean basically)
        - has two options
          - Only one value is possible
          - Multiple values are possible
      - String : default value
  ### - Editing fields
  - Leave all options free to change 
  
  ### - Remove fields
  - Add a button next to the field
  
  ### - Saving
  - Save in special template format
  
  ## Working with config files
  ### Creating config file
  - Create interact objects for each field (eventually with optional fields appearing if needed)
  ### Loading config file
  - Load existing config file, to edit it and save it again
  ### Saving config file
  - Save file with config file format
  
'''
tags: []
isStarred: false
isTrashed: false
